body {
	background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
.logo-class{
	text-align:center;
	margin:20px;

}

p{
	padding-top:27px;
	font-size:18px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#747a7f;
	text-shadow: #0000001c 1px 1px 0;
}

h8{
	color:white;
	text-shadow: #0000001c 1px 1px 0;
}

.button, input[type=submit]{
    background-color: #bdcbda;
    border: 1px solid #b8c0c7;
    border-radius: 4px;
    color: #475d6b;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 14px;
    cursor: pointer;
    box-shadow: 2px 2px #8c88885e;
    text-shadow: #afa6a65e 2px 2px 0;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}


#login_form, #user_signup{
	border: 1px solid #ffffff;
	border-radius: 2px;
	background-color:#fffefba6;
	text-align:center;
	width:80%;
	margin: 0 auto;
}

#login_tab{
	text-align:center;
	text-decoration:solid;
	font-size:17px;
}

.input_login{
	margin:15px;
	width:170px;
	height:27px;
	border-radius: 2px;
	border-bottom: 2px solid #d0ad61;
	border-right: 2px solid #d0ad61;
	background-color:#f5f0e6e0;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #cfd5da;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}
#logo:after {
  content:"thememaker";
  position: absolute;
  left: 8px;
  top: 4px;
}
#logo:after {
  /*background: url(https://subtlepatterns.com/patterns/crossed_stripes.png) repeat;*/
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

#user_profile{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color:#272829;
	text-shadow: #bbbab6 2px 1px 0;
	margin-left:3%;
	position:relative;
}



.color_group{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size:12px;
	color:#272829;
	text-shadow: #00000087 1px 1px 0;
	height:40px;
	border:1px dashed #00000042;
	border-radius: 6px;
	width:94%;
	margin-left:2%;
	margin-top:12px;
	display:inline-flex;
	text-align:center;
	position:relative;
	cursor: pointer;

}
#user_preferences{

	border-radius: 196px;
	padding:40px;
	text-align:center;
		border:1px dashed #00000042;
}

.color{
	display: inline-block;
	height:97%;
	width: 100%;
}


#upload_files{
	text-shadow: #080808 2px 1px 0;
	text-shadow:black ;
	border: 1px dashed #b5babf;
	border-radius: 2px;
	margin-left:1%;
	margin-right:1%;
	text-align:center;
	position:relative;
}

#upload_files:before{
	background-image: url( https://st2.depositphotos.com/1063074/10259/v/950/depositphotos_102593136-stock-illustration-abstract-lines-seamless-pattern-texture.jpg);
	content: "";
	z-index: -1;
	position: absolute;
	opacity: 0.05;
	top: 0; bottom: 0; left: 0; right: 0;
	background-size: cover;
 }

input[type="file"]{
	background-color: #cfd5db;
    border: 1px solid #b5babf;
    border-radius: 6px;
    color: #272829;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 15px;
    cursor: pointer;
}

.recom{
	color:#272829;
	text-shadow: #080808 2px 1px 0;
	text-shadow:black ;

	margin-right:3%;
	text-align:center;
	position:relative;

}


.colors{
  display: inline-block;
  height:100%;
  float: left;
  width: 100%;

}
.groups{
  height:60px;
  width: :70px;
}


input[type="color"] {
  -webkit-appearance: none;

}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.color-picker{
	margin-top:30px;
}