
<!DOCTYPE html>
<html lang="en">
	
	{% load staticfiles %}
	<script src="https://s3.amazonaws.com/codecademy-content/projects/jquery.min.js"></script>
	<script src="{% static "polls/js/main.js" %}"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" data-auto-replace-svg="nest"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/jquery-ui.css' %}" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">-->

	<body>
		<div class="logo-class">
			<a href="/" id="logo">ThemeMaker</a>
		</div>

		{% if user.is_authenticated %}
			<div id="user_p">
				<div id ="user_profile">
					<p>Hello, {{ user.username }}</p>
					<form id="logout" >
						{% csrf_token %}
						<input class="button" id = "submit_logout" type="submit" value="Logout"/><br/>
					</form>
				</div>
				<div id="upload_files">
					<p>Upload your CSS files: </p><br>
					<form action="upload/" method="POST" id="post-form" enctype="multipart/form-data">
						{% csrf_token %}
						<div id="files"> 
							<input class="one_file" type="file" name="filee" title=""/><br/>
						</div>
						<input class="button" id = "submit" type="submit" name="op" value="Upload"/><br/>
					</form>
				</div>
			</div>
			<div id="user_preferences">
				<h4>Your color groups: <i class="far fa-heart"></i></h4>
				
				<div id=user_color_g>
					{% for cgs in liked_cg %}
						<div class="color_group">
						{% for c in cgs.list %}
							<div class="color" style="background-color:{{ c.color_id_hex }};"><h4 display=none class="c_info">{{ c }}</h4></div>
						{% endfor %}
						</div>
						<i cg_list_id="{{ cgs.id }}" class="far fa-trash-alt" ></i></br>
					{% endfor %}
				</div>

			</div>
		{% endif %}

		<div id="tabs">
		  <ul>
		    <li><a href="#login_tab"><span>Sign in</span></a></li>
		    <li><a href="#signup_tab"><span>Sign up</span></a></li>
		    <li><a href="#resetpass_tab"><span>Reset Password</span></a></li>
		  </ul>
		  <div id="login_tab">
			<div id="login_form">
				<p>You are not logged in</p> 
				{% block content %}
				{% endblock %}
			</div>
		  </div>
		  <div id="signup_tab">
			<div id="user_signup">
				<p>Register</p> 
				<h4 id = "notMatch" hidden> The passwords you entered are not the same! </h4>
				<form id="signup">
					{% csrf_token %}
				    <label for="username">User name:</label>
				    <input class="input_login" type="text" name="username" value="" id="un"><br>
				    <label for="password">Password:</label>
				    <input class="input_login" type="password" name="password" value="" id="ps"><br>
				    <label for="password">Re-enter Password:</label>
				    <input class="input_login" type="password" name="password_re" value="" id="ps2"><br>

				    <input class="button" type="submit" value="Sign Up" /> 
				 </form>
			</div>

		  </div>
		  <div id="resetpass_tab">

		  </div>
		</div>
		
		


		<div id="colors_files"> 
		</div>

	</body>
</html>

